{
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "strapi": true
  },
  "rules": {
    "prettier/prettier": "error",
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "no-undef": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"]
  }
}
