{
  "extends": ["airbnb-base"],
  "rules": {
    "no-shadow": "error",
    "no-console": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(error)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  }
}
